body {
  padding-top: 70px;
  background-image: url("../colchuck.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-repeat: none;
}

img {
  image-orientation: from-image;
  align: top;
}

.col-md-3 {
  width: 33%;
}

.container {
  text-align: center;
  background-color: white;
  opacity: 0.9;
  margin-bottom: 25px;
}

.gallery {
  margin: auto;
}

.embedded {
  width: 75%;
  height: 200px;
}

.embedded-large {
  width: 100%;
  height: 850px;
}

@media (min-width: 650px) {
  .container {
    width: 650px;
    max-width: 650px;
  }
}


.img-container {
  width: 75%;
  height: 75%;
  opacity: 1.0;
  margin: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.main-section {
  margin-bottom: 50px;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 37px;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: lighter;
}

.story {
  text-align: justify;
}

.modal-body {
  height: 75vh;
  
}
/*
.modal-body {
  position: absolute;
  
  width: 75vw;
  height: 75vh;  
  .close {
  }
}*/

a {
  cursor: pointer;
}
